In [2]:
import pandas as pd
import numpy as np

### Imputing categorical values

In [3]:
# create dataset
data = {'Id': [1, 2, 3, 4, 5, 6, 7, 8],
         
        'Gender': ['M', 'M', 'F', np.nan,
                   np.nan, 'F', 'M', 'F'],
         
        'Color': [np.nan, "Red", "Blue",
                  "Red", np.nan, "Red",
                  "Green", np.nan]}
 
# convert to data frame
df = pd.DataFrame(data)
df

   Id Gender  Color
0   1      M    NaN
1   2      M    Red
2   3      F   Blue
3   4    NaN    Red
4   5    NaN    NaN
5   6      F    Red
6   7      M  Green
7   8      F    NaN

In [4]:
df.Gender.describe()

count     6
unique    2
top       M
freq      3
Name: Gender, dtype: object

In [5]:
df.Gender.value_counts()

M    3
F    3
Name: Gender, dtype: int64

In [11]:
df.Color.value_counts()

Red      3
Blue     1
Green    1
Name: Color, dtype: int64

In [12]:
df.Color.value_counts().index

Index(['Red', 'Blue', 'Green'], dtype='object')

In [13]:
df.value_counts().index

MultiIndex([(2, 'M',   'Red'),
            (3, 'F',  'Blue'),
            (6, 'F',   'Red'),
            (7, 'M', 'Green')],
           names=['Id', 'Gender', 'Color'])

In [14]:
df.value_counts().index[0]#.index[0]

(2, 'M', 'Red')

In [10]:
clean = df.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [11]:
clean

   Id Gender  Color
0   1      M    Red
1   2      M    Red
2   3      F   Blue
3   4      M    Red
4   5      M    Red
5   6      F    Red
6   7      M  Green
7   8      F    Red

In [6]:
df

   Id Gender  Color
0   1      M    NaN
1   2      M    Red
2   3      F   Blue
3   4    NaN    Red
4   5    NaN    NaN
5   6      F    Red
6   7      M  Green
7   8      F    NaN

In [7]:
df_clear = df.apply(lambda x: x.fillna(x.value_counts().index[0]))
df_clear

   Id Gender  Color
0   1      M    Red
1   2      M    Red
2   3      F   Blue
3   4      M    Red
4   5      M    Red
5   6      F    Red
6   7      M  Green
7   8      F    Red

### Extracting number of words in a column and filtered

In [12]:
clean['No_words_color'] = clean.apply(lambda x:len(x['Color'].split(" ")), axis=1)

In [13]:
clean

   Id Gender  Color  No_words_color
0   1      M    Red               1
1   2      M    Red               1
2   3      F   Blue               1
3   4      M    Red               1
4   5      M    Red               1
5   6      F    Red               1
6   7      M  Green               1
7   8      F    Red               1

In [ ]:
#create a new column
df['num_words_title'] = df.apply(lambda x : len(x['Title'].split(" ")),axis=1)
#simple filter on new column
new_df = df[df['num_words_title']>=4]